<div class="character-info">
	<img class="character-image" src="{{actorImg}}" alt="{{actor.name}}">
	<div class="character-details">
		<h2 name="actor-name">{{actor.name}}</h2>
		<div class="character-description">
			<span name="class" class="class">{{className}}</span> | <span name="background "class="background">{{backgroundName}}</span>
		</div>
	</div>
</div>
